@media (min-width: 481px) {
  body {
    display: none !important;
  }
}

html,
body {
  scroll-behavior: smooth;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-section {
  background-image: url("../img/3719167.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 480px;
  border: 1px solid #ccc;
  overflow: hidden;
}

header {
  width: 100%;
  position: fixed;
  background-color: #0690f1;
  z-index: 12;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  -webkit-box-shadow: 0 3px 13px #00000073;
          box-shadow: 0 3px 13px #00000073;
}

header .navlink {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
}

header .navlink .link {
  display: block;
  color: #fff;
  padding: 13px 0;
  font-size: 28px;
  line-height: 25px;
  border-right: 1px solid #fff;
}

header .navlink .link:last-child {
  border-right: 0px solid #fff;
}

header .navlink .link span {
  font-weight: bold;
  font-size: 14px;
  display: block;
}

header .navlink .link:active {
  background-color: #f1ac06;
}

header .navlink .link:hover {
  background-color: #f1ac06;
}

header .navlink .link.active {
  background-color: #f1ac06;
}

.main .home {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main .home::before {
  content: "";
  background: rgba(241, 172, 6, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-active {
  right: 0%;
}

.social-media {
  padding-top: 20px;
}

.social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0;
}

.social-media ul a {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #f1ac06;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.social-media ul a i {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  font-size: 20px;
}

.social-media ul a:hover i {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  color: #0690f1;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  width: 100%;
  text-align: center;
}

footer div:nth-of-type(1) {
  border-right: 1px solid #fff;
}

footer div:nth-of-type(2) {
  border-left: 1px solid #fff;
}

footer a {
  display: block;
  background: #0690f1;
  padding: 10px 0;
  color: #fff;
}

footer a p {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 500;
  text-transform: uppercase;
}

.home .btn-share {
  display: inline-block;
  position: absolute;
  top: 15%;
  right: 3%;
  z-index: 10;
}

.home .btn-share span {
  text-transform: uppercase;
}

.home .banner-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  width: 100%;
}

.home .banner-text .banner-img {
  position: relative;
  width: 230px;
  height: 230px;
  background: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #0690f1;
  margin: 0 auto;
}

.home .banner-text h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 35px;
}

.home .banner-text h2 {
  margin: 0px 0;
  text-align: center;
  font-size: 22px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: capitalize;
  color: #fff;
  font-weight: 400;
  line-height: 26px;
}

.home .banner-text h3 {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 1px;
  font-size: 17px;
  color: #fff;
}

.home .banner-text .info {
  margin-top: 35px;
}

.home .banner-text .info .admin-info .h6 {
  font-size: 14px;
}

.main .section {
  height: 100vh;
}

.title h3 {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #0690f1;
}

.title h3 span {
  color: #f1ac06;
}

.main p {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
}

.share-it {
  display: none;
}

.share-it.active {
  display: block;
}

.share-icon {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0000007a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.share-icon .list-st {
  width: 300px;
  height: auto;
  background: #fff;
  position: relative;
  z-index: 35;
}

.share-icon ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.share-icon ul a {
  padding: 20px;
  display: block;
}

.share-icon ul img {
  width: 50px;
}

@media (max-width: 375px) {
  .home .banner-text h2 {
    text-align: center;
    font-size: 20px;
  }
  footer a p {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 500;
    text-transform: uppercase;
  }
  .main p {
    font-size: 15px;
  }
  .home .banner-text .info .admin-info .h6 {
    font-size: 13px;
  }
  .home .banner-text .info {
    margin-top: 15px;
  }
  .home .banner-text h1 {
    font-size: 32px;
  }
}

@media (max-width: 320px) {
  .home .banner-text h2 {
    font-size: 20px;
  }
  .home .banner-text h2 span {
    font-size: 16px;
  }
  .main p {
    font-size: 15px;
  }
  .social-media {
    padding-top: 0;
  }
  .home .banner-text .info .admin-info .h6 {
    font-size: 12px;
  }
  .social-media ul a {
    width: 40px;
    height: 40px;
  }
  .home .banner-text .banner-img {
    position: relative;
    width: 200px;
    height: 200px;
  }
  .home .banner-text .banner-img img {
    width: 150px !important;
  }
  header .navlink .link {
    font-size: 20px;
  }
  .home .banner-text h1 {
    font-size: 29px;
  }
  header .navlink .link span {
    font-weight: bold;
    font-size: 12px;
    display: block;
  }
  header .navlink .link {
    padding: 7px 0;
  }
}
/*# sourceMappingURL=style.css.map */